.peopleLeft{
    float: left;
}

.peopleRight{
    width: 650px;
    float: left;
    position: relative;
    left: 10%;
    height: 430px;
}

.peopleCenter{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
