.peopleLeft{
    float: left;
    width: 300px;
    margin-left: 10px;
}
.peoplebottom{
    height: 114px;
    position: relative;
    top: 37px;
}
.peopleCenter{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}

.workerCenter{
    width: 980px;
    height: 400px;
    margin: 0 auto;
}
.workerLeft{
    width: 350px;
    height: 400px;
    float: left;
}

.workerRight{
    float: right;
    width: 620px;
    height: 400px;
}