.workloadCenter{
    width: 1000px;
    height: 100px; 
    margin: 0 auto;
    text-align: center
}

.workloadBody{
    width:  1150px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

.workloadLeft{
    width: 350px; 
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    float: left;
}

.workloadRight{
    width: 770px;
    height:400px;
    float: left; 
    position: relative;
    left: 50px;
}