@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
       .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    display: block;
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}

:global {
  .ant-tree li span.ant-tree-switcher.ant-tree-switcher-noop{
      display: none
  }
  .ant-tree li .ant-tree-node-content-wrapper{
    width: 100%;
  }
  .ant-tree li :hover{
     width: 100%;
     background-color: #bae7ff;
  }
  .ant-tree li .ant-tree-node-content-wrapper:hover{
     width: 100%;
     background-color: #bae7ff;
  }
  .ant-layout-content{
      flex: 1
  }
  .ant-tree{
     height: 580px;
  }
  .ant-modal-content {
    position: relative;
    width: 500px;
    height: 380px;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
  }
  .ant-modal-body{
    width: 496px;
    height: 352px;
  }
  .ant-form{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .ant-modal-footer{
    border-top: 1px solid #fff;
    position: absolute;
    width: 500px;
    background: #fff;
    text-align: center;
    bottom: -51px;
  }
}
