@import '~antd/lib/style/themes/default.less';

.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
    .ant-spin-nested-loading > div > .ant-spin .ant-spin-dot{
       top: 60% !important; 
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}
